@model car_rental_asp.net.Models.CarRental

@{
    ViewData["Title"] = "Post";
}
.

<h4>Rent this car</h4>
<hr/>
<div class="row center">
    <div class="col-md-4">
        <form asp-action="Post">
            <td>@Model.Car.Brand</td>
            <td hidden>@Model.Car.Id</td>
            <td>@Model.Car.Model</td>
            <td>@Model.Car.Specification</td>
            <td>@Model.Car.YearOfProduction.Year</td>
            <td>@Model.Car.Amount PLN/Tydzień</td>
            <td>@Model.Car.Description</td>
            <td>
                <img src="~/images/@Model.Car.Image"
                     class="image"
                     asp-append-version="true" />
            </td>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
