@model IEnumerable<car_rental_asp.net.Models.Car>

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="text-center text-uppercase text-dark">Our cars</h4>
<div align="center">
    <table class="table table-borderless">
        <thead>
            <tr class="text-uppercase">
                <th>@Html.DisplayNameFor(model => model.Image)</th>
                <th>@Html.DisplayNameFor(model => model.Brand)</th>
                <th>@Html.DisplayNameFor(model => model.Model)</th>
                <th>@Html.DisplayNameFor(model => model.Specification)</th>
                <th>@Html.DisplayNameFor(model => model.YearOfProduction)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@car.Image"
                         class="image"
                       
                         asp-append-version="true" />
                    </td>

                    <td>@car.Brand</td>
                    <td>@car.Model</td>
                    <td>@car.Specification</td>
                    <td>@car.YearOfProduction.Year</td>
                    <td>@car.Amount PLN/Tydzień</td>
                    <td>@car.Description</td>
                    <td><a class="button-40 " asp-controller="CarRental" asp-action="Post" asp-route-id="@car.Id">Rent</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>