@model IEnumerable<car_rental_asp.net.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Administration CRUD</h1>

<p>
    <a asp-controller="Cars" asp-action="Post" class="button-40"><i class="fas fa-plus-circle"></i> Add New</a>
</p>
<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th><a>Edit</a></th>
            <th><a>Delete</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfProduction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="~/images/@item.Image"
                   
                     class="image"
                     asp-append-version="true" />

                </td>
                <td>
                    <a class="button-40" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                </td>
                <td>
                <a class="button-41 " asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
