@model IEnumerable<car_rental_asp.net.Models.CarRental>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
              
               @foreach(var car in Model)
                    {
                        
                         @Html.DisplayFor(modelItem => item.Car.Brand)
                @Html.DisplayFor(modelItem => item.Car.Model)
                @Html.DisplayFor(modelItem => item.Car.Specification)
                @Html.DisplayFor(modelItem => item.Car.Id)
                    }
                    @Html.DisplayFor(modelItem => item.StartDate)
                @Html.DisplayFor(modelItem => item.EndDate)

            </td>
            
        </tr>
}
    </tbody>
</table>
