@model IEnumerable<car_rental_asp.net.Models.CarRental>

@{
    ViewData["Title"] = "Index";
}

<h1>Your rentals</h1>

<p>
<a class="button-40" asp-area="" asp-controller="Cars" asp-action="Index">New rent</a>
</p>
 <table class="table table-borderless">
    <thead>
         
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.Model)
            </th>
            
             <th>
                @Html.DisplayNameFor(model => model.Car.Image)
            </th>
         
            
           
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                 @Html.DisplayFor(modelItem => item.Amount) PLN
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                   </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Car.Brand)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Car.Model)
                     </td>
                     <td>
                    <img src="~/images/@item.Car.Image"
                     class="img-rentals"
                     
                     asp-append-version="true" />
                     </td>
                     
                   

               

            </tr>
        }
    </tbody>
</table>
